body {
    width: 1020px;
    height: 1604px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #666d89;
}

.wrapper {
    width: 960px;
    /* align-items: center; */
    margin: 0 auto; 
    padding: 10px; 
    box-sizing: border-box; 
}
    .portfolio{
        background: #2d303a;
        border-bottom: 6px solid #323746;
    } 

    .portfolio h1 {
        margin: 50px 0 22px;
        font-family: 'Lato-Black', sans-serif;
        font-size: 30px;
    }

    .portfolio p {
        font-family: 'Lato-Light', sans-serif;
        font-size: 18px;
    }

    .portfolio ul {
        display: flex;
        font-size: 12px;
        padding: 0px 0 5px;
        margin-top: -3px;
        margin-left: 1px;
    }

    .portfolio ul li {
        list-style: none;
        border: 1px solid #666d89;
        border-radius: 5px;
        padding: 2px 6px;
        margin-right: 10px;
        padding-bottom: 3px;
        cursor: pointer;
        transition: all .25s;
    }

    .portfolio ul li:hover {
        color: #ffffff;
        border: 1px solid #ffffff;  
    }

    .portfolio ul li:nth-child(4) {
        padding-right: 4px;
    }

    .portfolio ul .active {
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .portfolio-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        margin-top: 14px;
        margin-bottom: 37px;
    }

    .portfolio-images img {
        margin-bottom: 20px;
        cursor: pointer;
        transition: all .25s;
    }

    .portfolio-images img:hover {
        filter: brightness(70%);
    }

    .about-us {
       background: #f2f2f2;
       border-bottom: 6px solid #ffffff;
       min-height: 728px;
    }

    .about-us h1 {
        font-family: 'Lato-Black', sans-serif;
        font-size: 30px;
        margin-top: 49px;
        margin-bottom: 19px;
    }

    .about-us p {
        font-family: 'Lato-Light', sans-serif;
        font-size: 18px;
        line-height: 29px;
    }

    .about-us p span {
        word-spacing: 1.2px;
    }

    .about-them {
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
    }
    
    .about-them .about-us-content {
        max-width: 300px;
    }

    .about-us-content .prifile-pic {
        margin-bottom: -8px;

    }

    .about-us-content .prifile-pic:nth-child(2){
        margin-left: -2px;
    }
    .about-us-content .profile-info h3 {
        font-family: 'Lato-Black', sans-serif;
        font-size: 18px;
        margin-left: -1px;
        margin-bottom: -8px;
    }
    .about-us-content .profile-info p {
        font-weight: 600;
        font-size: 11px;
        text-align: justify;
        line-height: 21px;
        margin-top: 16px;
        word-spacing: 4px;
        letter-spacing: 0px;
    }

    .about-us-content .social-media-icons {
        margin-top: 24px;
    }

    .about-us-content .social-media-icons a {
        padding-right: 5px;
        transition: all .25s;
    }

    .about-us-content .social-media-icons a:hover {
        filter: brightness(50%);
    }

