body {
    width: 1020px;
    /* height: 1604px; */
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #f0d8d9;
    box-sizing: border-box;
}

.wrapper {
    width: 960px;
    /* align-items: center; */
    margin: 0 auto; 
    padding: 10px; 
    box-sizing: border-box; 
}

.get-quote-form {
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
}


.get-quote-form .wrapper-form {
    display: flex; 
}

.get-quote-form .wrapper-form .form {
    display: flex;
}

.get-quote-form h1 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    margin-top: 49px;
}

.get-quote-form p {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    margin-top: -5px;
    line-height: 30px;
}

.get-quote-form .form form {
    margin-top: 16px;
    width: 618px;
}

.get-quote-form .form input, textarea {
    background: #d6564f;
    border: none;
    border-radius: 5px;
    padding-left: 14px;
    font-size: 11px;
    font-family: inherit;
    letter-spacing: 0.5px;
    
}

.get-quote-form .form input {
    height: 37px;
    margin: 8px 0;
    width: 605px; 
}

.get-quote-form .form input::-webkit-input-placeholder {
    color: #f2888b;
}

.get-quote-form .form textarea::-webkit-input-placeholder {
    color: #f2888b;
}
.get-quote-form .form textarea {
    margin: 8px 0;
    height: 189px;
    width: 603px;
    padding-top: 10px;
    resize: none;
}

.wrapper-form .contact-information {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
}

.wrapper-form .contact-information a {
    text-decoration: none;
    color:  #f0d8d9;
    font-size: 11px;
    font-family: inherit;
    letter-spacing: 0.5px;

}

.wrapper-form .contact-information span {
    font-size: 11px;
    font-family: inherit;
    letter-spacing: 0.5px;
     
}
.wrapper-form .contact-information span img{
    margin-left: 3px;
    margin-right: 3px;
}
.wrapper-form .contact-information a:visited {
    color:  #f0d8d9;
    text-decoration: none;
}

.wrapper-form .contact-information h3 {
    padding-top: 5px;
    margin-block-end: 12px;

}

.wrapper-form .contact-information p {
    font-size: 11px;
    font-family: inherit;
    letter-spacing: 0.5px; 
    line-height: 22px;
    text-align: justify;
    word-spacing: -1px;

}